회원수정 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.all-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-bottom: 15px;
  flex: 3;
}

.btn-group button {
  width: 100%;
  padding: 10px;
  background-color: #282828;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #6d6d6d;
}

.profile-container {
  width: 50%;
  height: 120px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* 추가 */
  align-items: center; /* 추가 */
}
.profile-box {
  width: 90px;
  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
  background-image: url("{% static "image/user.png" %}");
  background-size: cover;
  background-position: center;
}

.profile-text {
  padding: 20px;
  text-align: center;
  color: black;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

label {
  margin-right: 5px;
  flex: 1;
}

.btn-group {
  display: flex;
}
.btn-group button {
  flex: 1;
  margin-right: 10px;
}
.btn-group button:last-child {
  margin-right: 0;
}

.btn-group a {
  text-decoration: none;
  color: white;
}
