<!doctype html>
{% load static %}
<html lang="ko">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CREAMSASHA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" href="https://ifh.cc/g/3rQQOX.png' border='0'">
    <!-- base.css(헤더, 푸터) -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block style %}{% endblock style %}

  </head>

  <body>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'products:category_products' 'Sofa' %}">ALL</a>
      <a href="{% url 'products:category_products' 'Sofa' %}">Sofa</a>
      <a href="{% url 'products:category_products' 'Chair' %}">Chair</a>
      <a href="{% url 'products:category_products' 'Tables' %}">Tables</a>
      <a href="#">Acc.</a>
    </div>
    <div id="header">
      <div class="header-wrap d-flex flex-column mt-5">
        <div class="d-flex justify-content-between align-items-center">
          <div class='header-logo'>
            <!-- 로고 -->
            <span class="first-logo">
              <a href="{% url 'products:index' %}">
                <img src="{% static 'img/creamshasha.png' %}" alt="logo(big)">
              </a>
            </span>
          </div>

          <!-- 정보 -->
          <div class="header-gnb d-flex">

            <!-- 유저이름 -->
            <div>
              {% if request.user.is_authenticated %}
                <li>
                  <span class='m-0'>
                    Welcome
                    {{ user }}님 !
                  </span>
                </li>
              {% else %}
                <li>
                  <span class='m-0'>
                    Welcome
                  </span>
                </li>
              {% endif %}
            </div>

            <!-- 검색창 -->
            <li id="" search="search">
              <div>
                <form id="searchForm" method="GET" action="{% url 'products:search' %}">
                  {% csrf_token %}
                  <input type="text" class="search-input d-none d-lg-inline" name="searched">
                  <button style="border: none;
                  outline: none;
                  background-color: transparent;
                  padding: 0;
                  cursor: pointer;" type="submit">
                    <span class="li_img">
                      <img src="https://www.remod.co.kr/onimg/ico_search@3x.png" alt="search">
                    </span>
                  </button>

                </form>
              </div>

            </li>
            <!--내 정보/ 로그인/ 회원가입-->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" id="profileDropdown" role="button">
                <img src="https://www.remod.co.kr/onimg/ico_user@3x.png" alt="myshop">
              </a>
              {% if request.user.is_authenticated %}
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">LOGOUT</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:profile' user.username %}">MYPAGE</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">REVIEW</a>
                  </li>
                </ul>
              {% else %}
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:login' %}">LOGIN</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:signup' %}">JOIN</a>
                  </li>
                </ul>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'products:view_cart' %}">
                <img src="https://www.remod.co.kr/onimg/ico_cart@3x.png" alt="basket"></a>
            </li>
            <!-- 햄버거 버튼 -->
            <div class="hamburger d-lg-none" onclick="openNav()">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>

        <!-- 네비게이션 바 -->
        <div class="header-nav d-none d-lg-flex mt-4">
          <div class="nav-link">
            <a href="{% url 'products:category_products' 'Sofa' %}">Sofa</a>
            {% comment %} <div class="nav-dropdown">
              <a href="" class="nav-dropdown-item">1인소파</a>
              <a href="" class="nav-dropdown-item">2인소파</a>
              <a href="" class="nav-dropdown-item">3인소파</a>
            </div> {% endcomment %}
          </div>
          <div class="nav-link">
            <a href="{% url 'products:category_products' 'Chair' %}">Chair</a>
            {% comment %} <div class="nav-dropdown">
              <a href="" class="nav-dropdown-item">1</a>
              <a href="" class="nav-dropdown-item">Product2</a>
            </div> {% endcomment %}
          </div>
          <a href="{% url 'products:category_products' 'Tables' %}" class="nav-link">Tables</a>
          <div class="dropdown-menu"></div>
          <a href="" class="nav-link">Acc.</a>
        </div>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <!-- 푸터 -->
    <div class="footer_nav">
      <div class="inner">
        <div class="footer-cont about">
          <h3 class="textstyle">ABOUT US</h3>
          <ul class="p-0">
            <li>KDT</li>
            <li>세미프로젝트</li>
            <li>1조 포한신 👾
            </li>
          </ul>
        </div>
        <div class="footer-cont member">
          <h3 class="textstyle">MEMBER</h3>
          <ul class="p-0">
            <li>
              <a href="https://github.com/hany0829">
                Hanyoung Bang</a>
            </li>
            <li>
              <a href="https://github.com/arrmadillo">Suhan Lee</a>
            </li>
            <li>
              <a href="https://github.com/Sysynn">Sangyoon Shin</a>
            </li>
            <li>
              <a href="https://github.com/badajinsee">Sunjin Han</a>
            </li>
            <li>
              <a href="https://github.com/dnjsxo0616">Wontae Han</a>
            </li>
          </ul>
        </div>
        <div class="footer-cont mypage">
          <h3 class="textstyle">MY PAGE</h3>
          {% if request.user.is_authenticated %}
            <ul class="p-0">
              <li>
                <a href="{% url 'accounts:profile' user.username %}">Mypage</a>
              </li>
            </ul>
          {% else %}
            <ul class="p-0">
              <li>
                <a href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li>
                <a href="{% url 'accounts:signup' %}">Join</a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      function openNav() {
        document
          .getElementById("mySidenav")
          .style
          .width = "250px";
      }

      function closeNav() {
        document
          .getElementById("mySidenav")
          .style
          .width = "0";
      }

      document.addEventListener('DOMContentLoaded', function () {
        var navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(function (navLink) {
          navLink.addEventListener('mouseenter', function () {
            var dropdown = this.querySelector('.nav-dropdown');
            if (dropdown) {
              dropdown.style.display = 'block';
            }
          });

          navLink.addEventListener('mouseleave', function () {
            var dropdown = this.querySelector('.nav-dropdown');
            if (dropdown) {
              dropdown.style.display = 'none';
            }
          });
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>

</html>