{% extends 'base.html' %}
{% load static %}
<!-- 가격표시 -->
{% load humanize %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/category.css' %}">

  <div class="container">
    <div class="main-inner">
      <div class="product-area">
        <div>
          <div class="bests">
            <h2>{{ category }}</h2>
          </div>
          <!-- 상품 분류 1 -->
          <div class="best">
            <ul>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% static 'img/karimoku_image/all.png' %}" alt="">
                  </span>
                  <div class="chair-text">전체</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/1.png" alt="">
                  </span>
                  <div class="chair-text">리클라이너</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/2.png" alt="">
                  </span>
                  <div class="chair-text">바의자</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/3.png" alt="">
                  </span>
                  <div class="chair-text">
                    벤치
                  </div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/4.png" alt="">
                  </span>
                  <div class="chair-text">
                    사무용 의자
                  </div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/5.png" alt="">
                  </span>
                  <div class="chair-text">스툴</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/6.png" alt="">
                  </span>
                  <div class="chair-text">식탁의자</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/7.png" alt="">
                  </span>
                  <div class="chair-text">암체어</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--카테고리 분류 나열-->
        <div class="function">
          <p>등록제품:
            <strong>{{products_num}}개</strong>
          </p>
          <div class="menu-wrapper">
            <ul class="desktop-menu">
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=latest">최신순</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=low_price">낮은가격</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=high_price">높은가격</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=many_reviews">리뷰많은순</a>
              </li>
            </ul>
            <div class="mobile-menu">
              <form>
                <select onchange="location = this.value;">
                  <option value="{% url 'products:category_products' category_name=category %}?order=latest">최신순</option>
                  <option value="{% url 'products:category_products' category_name=category %}?order=low_price">낮은가격</option>
                  <option value="{% url 'products:category_products' category_name=category %}?order=high_price">높은가격</option>
                  <option value="{% url 'products:category_products' category_name=category %}?order=many_reviews">리뷰많은순</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <!--제품 나열-->
        <div class="product">
          <div class="product-list row">
            {% for product in products %}
              <div class="product-item" style="flex-basis: calc(25% - 20px);
              padding: 10px;
              margin: 10px;
              box-sizing: border-box;
              text-align: center;
              background-color: #f8f8f8;
              border-radius: 5px;">
                <a href="{% url 'products:product_detail' product.pk %}">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                  <h3 class="product-title">{{ product.name }}</h3>
                  <p class="product-brand">{{ product.brand }}</p>
                  <p class="product-price">{{ product.price|intcomma }}원</p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- 페이지네이션 -->
      <div class="row" style="font-size: 1.2rem;padding: 0.5rem;">
        <div class="col-md-6 mx-auto text-center">
          {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}{% if order_param %}&order={{ order_param }}{% endif %}">이전 페이지</a>
          {% endif %}

          {% for num in products.paginator.page_range %}
            {% if num == products.number %}
              <span class="current-page">{{ num }}</span>
            {% else %}
              <a href="?page={{ num }}{% if order_param %}&order={{ order_param }}{% endif %}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}{% if order_param %}&order={{ order_param }}{% endif %}">다음 페이지</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
