{% extends 'base.html' %}
{% load static %}
<!-- 가격표시 -->
{% load humanize %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/category.css' %}">

  <div class="container">
    <div class="main-inner">
      <div class="product-area">
        <div>
          <div class="bests">
            <h2>{{ category }}</h2>
          </div>
          <!-- 상품 분류 1 -->
          <div class="best">
            <ul>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% static 'img/karimoku_image/all.png' %}" alt="">
                  </span>
                  <div class="chair-text">전체</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/1.png" alt="">
                  </span>
                  <div class="chair-text">리클라이너</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/2.png" alt="">
                  </span>
                  <div class="chair-text">바의자</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/3.png" alt="">
                  </span>
                  <div class="chair-text">
                    벤치
                  </div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/4.png" alt="">
                  </span>
                  <div class="chair-text">
                    사무용 의자
                  </div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/5.png" alt="">
                  </span>
                  <div class="chair-text">스툴</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/6.png" alt="">
                  </span>
                  <div class="chair-text">식탁의자</div>
                </a>
              </li>
              <li class="chair-li">
                <a href="#">
                  <span>
                    <img class="chair-img" src="{% get_static_prefix %}img/karimoku_image/{{category}}/7.png" alt="">
                  </span>
                  <div class="chair-text">암체어</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--카테고리 분류 나열-->
        <div class="function">
          <p>등록제품:
            <strong>{{products|length}}</strong>
          </p>
          <div class="menu-wrapper">
            <ul class="desktop-menu">
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=latest">최신순</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=low_price">낮은가격</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=high_price">높은가격</a>
              </li>
              <li class="li-margin">
                <a href="{% url 'products:category_products' category_name=category %}?order=many_reviews">리뷰많은순</a>
              </li>
            </ul>
            <div class="mobile-menu">
              <form>
              <select onchange="location = this.value;">
                <option value="{% url 'products:category_products' category_name=category %}?order=latest">최신순</option>
                <option value="{% url 'products:category_products' category_name=category %}?order=low_price">낮은가격</option>
                <option value="{% url 'products:category_products' category_name=category %}?order=high_price">높은가격</option>
                <option value="{% url 'products:category_products' category_name=category %}?order=many_reviews">리뷰많은순</option>
              </select>
              </form>
            </div>
          </div>
        </div>
        <!--제품 나열-->
        <div class="product">
          <ul class="prd-list">
            {% for product in products %}
              <li class="row">
                <div class="prd-item ">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <img src="{{ product.image.url }}" alt="karimoku60" class="product-imgsize">
                    <br>
                    <strong class="brandname">{{product.brand}}</strong>
                    <br>
                    <strong>{{ product.name }}</strong>
                    <br>
                    <strong class="price">{{ product.price|intcomma }}원</strong>
                    <br>
                    <img src="https://img.echosting.cafe24.com/design/skin/admin/ko_KR/ico_product_stock.gif" alt="재고보유">
                  </a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
