{% extends 'base.html' %}
{% load static %}



{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}" type="text/css">
<div class="container">
  <div class="d-flex column">
    <!-- 제품 사진 -->
    <div class="img-area">
      <img class="detail_img" src="{{ product.image.url }}" alt="karimoku60">
    </div>
    <!-- 제품 정보 -->
    <div class="infoarea">
      <h2>{{ product.name }}</h2>
      <span> <img class="img_line img-margin"
          src="https://img.echosting.cafe24.com/design/skin/admin/ko_KR/ico_product_stock.gif" alt="재고보유"></span>
      <!-- 테이블 형식 (품번, 원산지, 제조사) -->
      <table class="table table-borderless border-one">
        <thead>
          <tr>
            <th class="tr-style " scope="col"> <span style="font-size: 15px; color: black;">품번</span></th>
            <td>W36140GW</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="tr-style" scope="row"><span style="font-size: 15px; color: black;">원산지</span></th>
            <td>JAPAN</td>
          </tr>
          <tr>
            <th class="tr-style" scope="row"><span style="font-size: 15px; color: black;">제조사</span></th>
            <td>Karimoku</td>
          </tr>
        </tbody>
      </table>
      <p class="gray-font">(최소 주문 수량 1개 이상)</p>
      <div class="totoal-price">
        <strong>총 상품금액</strong>
        (수량):
        <span class="total">
          <strong class="total-em">
            <em>780,000원</em>
          </strong>
          (1개)
        </span>
      </div>
      <!-- 버튼 (구매하기,장바구니 담기) -->
      <div class="button d-flex justify-content-left">
        <button type="button" class="btn btn-dark btn-lg btn-margin"><a style="color: white;" href="#">바로
            구매하기</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg"><a style="color: black;" href="#">장바구니
            담기</a></button>
      </div>
    </div>
  </div>

  <!-- 상품사용후기(리뷰) -->
  <div class="review-area">
    <div class="review-title">
      <h3 class="review-font">상품사용후기</h3>
      <p>상품의 사용후기를 적어주세요</p>
    </div>
    <div class="review-tabel">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">별점</th>
            <th scope="col">좋아요</th>
            <!--
              추가
            좋아요
            조회수?
            -->
            
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr class='review'>
              <th scope="row">{{review.pk}}</th>
              <td>{{ review.title }}</td>
              <td>{{ review.user }}</td>
              <td>{{ review.created_at}}</td>
              <td>
                {% if review.rating == 1 %}
                  ⭐☆☆☆☆
                {% elif review.rating == 2 %}
                  ⭐⭐☆☆☆
                {% elif review.rating == 3 %}
                  ⭐⭐⭐☆☆
                {% elif review.rating == 4 %}
                  ⭐⭐⭐⭐☆
                {% elif review.rating == 5 %}
                  ⭐⭐⭐⭐⭐
                {% else %}
                  ☆☆☆☆☆
                {% endif %}
              </td>
              <td>
                <!-- 좋아요 버튼 -->
                 <form action="{% url 'reviews:like_review' product.pk review.pk %}" method="POST">
                  {% csrf_token %}
                  {% if request.user in review.like_users.all %}
                    <input type="submit" value="좋아요 취소">
                  {% else %}
                    <input type="submit" value="좋아요">
                  {% endif %}
                </form>
                <span class="like-count">{{ review.like_users.all.count }}</span>
                {% comment %} <form class="like-review-form" method="POST" data-url="{% url 'reviews:like_review' product.pk review.pk %}">
                  {% csrf_token %}
                  {% if request.user in review.like_users.all %}
                    <button type="submit" class="unlike-btn">좋아요 취소</button>
                  {% else %}
                    <button type="submit" class="like-btn">좋아요</button>
                  {% endif %}
                </form> {% endcomment %}
              </td> 
          </tr>
      
          <!-- 내용 display: none-->
          <tr class='review-content' style="display: none;">
              <td colspan="5">
                  <p>{{ review.content }}</p>
                  <p>
                    {% comment %} <form action="{% url 'reviews:like_comment' product.pk review.pk comment.pk %}" method="POST">
                      {% csrf_token %}
                      {% if request.user in comment.like_users.all %}
                          <input type="submit" value="좋아요 취소">
                      {% else %}
                          <input type="submit" value="좋아요">
                      {% endif %}
                    </form> {% endcomment %}
                  </p>
                  <span class="like-count">{{ comment.like_users.all.count }}</span>
                  <hr>
                  <!-- 댓글 -->
                  {% for comment in review.comment_set.all %}
                  <div class='comment-content' style="display: none;">
                      <p>{{ comment.content }}</p>
                      <p>
                        <form action="{% url 'reviews:like_comment' product.pk review.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          {% if request.user in comment.like_users.all %}
                              <input type="submit" value="좋아요 취소">
                          {% else %}
                              <input type="submit" value="좋아요">
                          {% endif %}
                      </form>
                      </p>
                
                  </div>
                  {% empty %}
                  <div class='comment-content' style="display: none;">
                      댓글이 없습니다.
                  </div>
                  {% endfor %}
                  <hr>
                  <!-- 댓글 작성 폼 -->
                  <div class='comment-form' style="display: none;">
                      <form method="post" action="{% url 'reviews:comment_create' product_pk=product.pk review_pk=review.pk %}">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="comment_content">댓글 작성</label>
                              <textarea class="form-control" id="comment_content" rows="3" name="content"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">댓글 등록</button>
                      </form>
                  </div>
              </td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
      <!-- 글쓰기 링크 -->
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-secondary">
          <a  href="{% url 'reviews:create_review' product.pk %}">리뷰 작성하기</a>
        </button>
      </div>  
      
    </div>
  </div>
  
</div>
<script>
  // 각각의 review row와 review-content를 찾아냄
  const reviewRows = document.querySelectorAll('.review');
  const reviewContents = document.querySelectorAll('.review-content');

  // 미리 리뷰 컨텐츠를 감춤
  reviewContents.forEach(content => {
    content.style.display = 'none';
  });

  // 각각의 review row에 click 이벤트를 추가
  // 누르면 없애!
  reviewRows.forEach(row => {
    row.addEventListener('click', () => {

      // 리뷰 내용
      const contentRow = row.nextElementSibling;

      // 해당 review-content row를 보여주거나 감춤
      if (contentRow.style.display === 'none') {
        contentRow.style.display = 'table-row';
      } else {
        contentRow.style.display = 'none';
      }

      // 댓글폼, 댓글 내용
      const commentForm = contentRow.querySelector('.comment-form');
      const commentContents = contentRow.querySelectorAll('.comment-content');

      // 댓글 작성 폼을 보여주거나 감춤
      if (commentForm.style.display === 'none') {
        commentForm.style.display = 'block';
      } else {
        commentForm.style.display = 'none';
      }

      // 각 댓글 내용을 보여주거나 감춤
      commentContents.forEach(commentContent => {
        if (commentContent.style.display === 'none') {
          commentContent.style.display = 'block';
        } else {
          commentContent.style.display = 'none';
        }
      });
    });
  });

  //좋아요 비동기
  {% comment %} $(document).ready(function() {
    // 좋아요 버튼 클릭 이벤트 처리
    $('.like-review-form').on('submit', function(event) {
      event.preventDefault(); // 기본 동작 중지
      const $form = $(this);
      const url = $form.data('url');
  
      $.ajax({
        url: url,
        method: 'POST',
        dataType: 'json',
        success: function(response) {
          // 좋아요 버튼 업데이트
          const $likeBtn = $form.find('.like-btn');
          const $unlikeBtn = $form.find('.unlike-btn');
          const likeCount = response.like_count;
          if (response.liked) {
            $likeBtn.hide();
            $unlikeBtn.show();
          } else {
            $likeBtn.show();
            $unlikeBtn.hide();
          }
  
          // 좋아요 수 업데이트
          $form.closest('.review-item').find('.like-count').text(likeCount);
        },
        error: function(response) {
          console.log(response);
        }
      });
    });
  }); {% endcomment %}
  {% comment %} $(document).ready(function() {
    // 좋아요 버튼 클릭 이벤트 처리
    $(document).on('submit', '.like-review-form', function(event) {
      event.preventDefault(); // 기본 동작 중지
      const $form = $(this);
      const url = $form.data('url');
  
      $.ajax({
        url: url,
        method: 'POST',
        dataType: 'json',
        success: function(response) {
          // 좋아요 버튼 업데이트
          const $likeBtn = $form.find('.like-btn');
          const $unlikeBtn = $form.find('.unlike-btn');
          const likeCount = response.like_count;
          if (response.liked) {
            $likeBtn.hide();
            $unlikeBtn.show();
          } else {
            $likeBtn.show();
            $unlikeBtn.hide();
          }
  
          // 좋아요 수 업데이트
          $form.closest('.review-item').find('.like-count').text(likeCount);
        },
        error: function(response) {
          console.log(response);
        }
      });
    });
  }); {% endcomment %}
  
</script>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
{% endblock content %}



    