{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}" type="text/css">
<div class="container">
  <div class="d-flex column">
    <!-- 제품 사진 -->
    <div class="img-area">
      <img class="detail_img" src="{{ product.image.url }}" alt="karimoku60">
    </div>
    <!-- 제품 정보 -->
    <div class="infoarea">
      <h2>{{ product.name }}</h2>
      <span> <img class="img_line img-margin"
          src="https://img.echosting.cafe24.com/design/skin/admin/ko_KR/ico_product_stock.gif" alt="재고보유"></span>
      <!-- 테이블 형식 (품번, 원산지, 제조사) -->
      <table class="table table-borderless border-one">
        <thead>
          <tr>
            <th class="tr-style " scope="col"> <span style="font-size: 15px; color: black;">품번</span></th>
            <td>W36140GW</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="tr-style" scope="row"><span style="font-size: 15px; color: black;">원산지</span></th>
            <td>JAPAN</td>
          </tr>
          <tr>
            <th class="tr-style" scope="row"><span style="font-size: 15px; color: black;">제조사</span></th>
            <td>Karimoku</td>
          </tr>
        </tbody>
      </table>
      <p class="gray-font">(최소 주문 수량 1개 이상)</p>
      <div class="totoal-price">
        <strong>총 상품금액</strong>
        (수량):
        <span class="total">
          <strong class="total-em">
            <em>780,000원</em>
          </strong>
          (1개)
        </span>
      </div>
      <!-- 버튼 (구매하기,장바구니 담기) -->
      <div class="button d-flex justify-content-left">
        <button type="button" class="btn btn-dark btn-lg btn-margin"><a style="color: white;" href="#">바로
            구매하기</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg"><a style="color: black;" href="#">장바구니
            담기</a></button>
      </div>
    </div>
  </div>

  <!-- 상품사용후기(리뷰) -->
  <div class="review-area">
    <div class="review-title">
      <h3 class="review-font">상품사용후기</h3>
      <p>상품의 사용후기를 적어주세요</p>
    </div>
    <div class="review-tabel">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">별점</th>
            {% comment %}
            추가
            좋아요
            조회수?
            {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr class='review'>
            <th scope="row">1</th>
            <td>{{ review.title }}</td>
            <td>{{ review.user }}</td>
            <td>{{ review.created_at}}</td>
            <td>{{ review.rating }}</td>
          </tr>
          <!-- 내용 -->
          <tr class='review-content'>
            <td colspan="5">{{ review.content }}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
        
        <div class="board">
          <form class="write">
            <input type="text" placeholder="제목을 입력해주세요." required>
            <hr>
            <input type="text" placeholder="내용을 입력해주세요." class="text" required>
            <div class="button">
              <p><a href="#">글쓰기</a></p>
            </div>
          </form>
        </div> 
      <div class="comment">
        <div>
          이름 : <input type="text" name="my_name" size="20">
          비밀번호 : <input type="password" name="my_password" size="20">
        </div>
        <form>
          <div>
            <p><textarea cols="100" rows="5"></textarea></p>
            <p><input type="submit" value="Submit"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h1>폼!!! {{ request.user }}님</h1>
  <form action="{% url 'reviews:create_review' product.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="">
  </form>
  
</div>

{% comment %} <script>
  // 각각의 review row를 찾아냄
  const reviewRows = document.querySelectorAll('.review');
  console.log(reviewRows)
  console.log('hi')
  // 각각의 review row에 click 이벤트를 추가
  reviewRows.forEach(row => {
    row.addEventListener('click', () => {
      console.log('tttt')
      // 해당 review row에 해당하는 review-content row를 찾아냄
      const contentRow = row.nextElementSibling;
      // 해당 review-content row를 보여줌
      contentRow.style.display = 'table-row';
    });
  });
  
</script>

<script>
  $(document).ready(function() {
    $('.review').click(function() {
      $(this).next('.review-content').toggle();
    });
  });
</script>  {% endcomment %}

<script>
  // 각각의 review row를 찾아냄
  const reviewRows = document.querySelectorAll('.review');

  // 각각의 review row에 click 이벤트를 추가
  reviewRows.forEach(row => {
    row.addEventListener('click', () => {
      // 해당 review row에 해당하는 review-content row를 찾아냄
      const contentRow = row.nextElementSibling;
      // 해당 review-content row를 보여주거나 감춤
      if (contentRow.style.display === 'none') {
        contentRow.style.display = 'table-row';
      } else {
        contentRow.style.display = 'none';
      }
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
{% endblock content %}



    