{% extends 'base.html' %}
{% load static %}
<!-- 가격표시 -->
{% load humanize %}

{% block content %}
  
  <link rel="stylesheet" href="{% static 'css/category.css' %}">

  <div class="container mt-5">
    <div class="main-inner">

      <div class="bestproduct-area">

        <div class="function">
          <p>등록제품:
            <strong>{{products|length}}</strong>
          </p>
          
        </div>

        <div class="product">
          <ul class="prd-list row">
            {% for product in products %}
              <div class="product-item" style="flex-basis: calc(25% - 20px);
              padding: 10px;
              margin: 10px;
              box-sizing: border-box;
              text-align: center;
              background-color: #f8f8f8;
              border-radius: 5px;">
                <a href="{% url 'products:product_detail' product.pk %}">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                  <h3 class="product-title">{{ product.name }}</h3>
                  <p class="product-brand">{{ product.brand }}</p>
                  <p class="product-price">{{ product.price|intcomma }}원</p>
                </a>
              </div>
            {% empty %}
            <h2 class="mt-3">해당하는 상품이 없습니다.</h2>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
